<body class="newUser">
<br />
<%#= form_for @user do |f|%>
<div class="formSquare">
  <p class="title">Sign Up</p><br />
    <%= bootstrap_form_for(@user, html: { class: 'form-vertical' }) do |f| %>

    <div class="form-group">
        <%= f.text_field :username %>
    </div>

      <br />

    <div class="form-group">
        <%= f.text_field :email %>
    </div>

      <br />

    <div class="form-group">
        <%= f.password_field :password %>
    </div>

      <br />

    <div class="form-group">
        <%= f.password_field :password_confirmation %>
    </div>

      <br />

    <div class="form-group">
        <%=f.submit %>
    </div>
<% end %>

  <br />
  <div class="logIn"><%= link_to 'Already a User? Log In.', new_session_path %></div>
  <br />

</div>

</body>
