<!--bootstrap form for inputting new groceries-->
<%#= bootstrap_form_for(@grocery, html: { class: 'form-inline' }) do |f| %>
<div class="newGroceryInput">
<%= form_for @grocery do |f| %>

    <!--User selection-->
    <div class="inputGroup">
      <%= f.collection_select :user_id, User.all, :id, :username, include_blank: '' %>
    </div>

    <!--Grocery input-->
    <div class="inputGroup">
      <%= f.text_field :groceries, :placeholder => "New Item" %>
    </div>

    <!--Quantity input-->
    <div class="inputGroup">
      <%= f.number_field :qty, :placeholder => "Quantity" %>
    </div>

    <!--Create grocery button-->
      <%= f.submit "Add Your Grocery" %>

<% end %>

</div>