<%= form_for(@grocery) do |f| %>

    <div class="field">
      <%= f.label :users %><br>
      <%= f.collection_select :user_id, User.all, :id, :username, include_blank: '' %>
    </div>

    <div class="field">
      <%= f.label :groceries %><br>
      <%= f.text_field :groceries %>
    </div>


    <div class="field">
      <%= f.label :qty %><br>
      <%= f.number_field :qty %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
